<div class="row ">
  <div class=>
    <div class="col s10 offset-s1">
     <div class="card  white darken-1 card-panel hoverable">
      <div class="card-content ">
        <h1><%=@article.title%></h1>
        <p class="text"><%=@article.text%></p>
      </div>
       <div class="card-action">
         <p>by_<%=@article.user.username%></p>
         <span class="right"><%=@article.created_at%></span>
      </div>
    </div>
  </div>
</div>
