<% if user_signed_in? %>
<% if article.like_user(current_user)%>
  <%= button_to article_like_path(likes, article_id: article.id),class:" material-icons ",id: "like-button",method: :delete, remote: true do %>
  mood_bad
<% end %>
<% else %>
  <%= button_to article_likes_path(article_id: article.id), id: "like-button left",method: :post,class:"material-icons" ,remote: true do %>
  mood
  <% end %>
<% end %>
<% end %>
  <span class="waves-effect waves-light">good_count: <%= article.likes_count %></span>

